body {
    background-color: #07646c;
    color:  #FFFFFF;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

#renderCanvas {
}

#loadScreen {
    font-size: 32px;
    position: absolute;
    left: 50px;
    top: 50px;
}
